<!DOCTYPE html>
<html class="no-js" lang="">
   <head>
      <meta charset="utf-8" />
      <meta http-equiv="x-ua-compatible" content="ie=edge" />
      <title>@ViewData["Title"]</title>
      <meta name="description" content="" />
      <meta name="viewport" content="width=device-width, initial-scale=1" />
      <link rel="stylesheet" href="assets/css/bootstrap-5.0.0-beta1.min.css" />
      <link rel="stylesheet" href="assets/css/LineIcons.2.0.css" />
      <link rel="stylesheet" href="assets/css/tiny-slider.css" />
      <link rel="stylesheet" href="assets/css/animate.css" />
      <link rel="stylesheet" href="assets/css/lindy-uikit.css" />
   </head>
   <body>
      <div class="preloader">
         <div class="loader">
            <div class="spinner">
               <div class="spinner-container">
                  <div class="spinner-rotator">
                     <div class="spinner-left">
                        <div class="spinner-circle"></div>
                     </div>
                     <div class="spinner-right">
                        <div class="spinner-circle"></div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <section id="home" class="hero-section-wrapper-5">
         <header class="header header-6">
            <div class="navbar-area">
               <div class="container">
                  <div class="row align-items-center">
                     <div class="col-lg-12">
                        <nav class="navbar navbar-expand-lg">
                           <a class="navbar-brand" href="index.html">
                           <img src="assets/img/logo/seamlex-banner.png" alt="Logo" />
                           </a>
                           <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent6" aria-controls="navbarSupportedContent6" aria-expanded="false" aria-label="Toggle navigation">
                           <span class="toggler-icon"></span>
                           <span class="toggler-icon"></span>
                           <span class="toggler-icon"></span>
                           </button>
                           <div class="collapse navbar-collapse sub-menu-bar" id="navbarSupportedContent6">
                              <ul id="nav6" class="navbar-nav ms-auto">
                                 <li class="nav-item">
                                    <a class="page-scroll active" href="#home">Home</a>
                                 </li>
                                 <li class="nav-item">
                                    <a class="page-scroll" href="#feature">Features</a>
                                 </li>
                                 <li class="nav-item">
                                    <a class="page-scroll" href="#about">Get Started</a>
                                 </li>
                                 <li class="nav-item">
                                    <a class="page-scroll" href="#templates">Templates</a>
                                 </li>
                                 <li class="nav-item">
                                    <a class="page-scroll" href="#pricing">Pricing</a>
                                 </li>
                                 <li class="nav-item">
                                    <a class="page-scroll" href="#team">Team</a>
                                 </li>
                                 <li class="nav-item">
                                    <a class="page-scroll" href="#contact">Contact</a>
                                 </li>
                              </ul>
                           </div>
                           <div class="header-action d-flex">
                              <a href="#0"> <i class="lni lni-cart"></i> </a>
                              <a href="#0"> <i class="lni lni-alarm"></i> </a>
                           </div>
                           <partial name="_LoginPartial" />
                        </nav>
                     </div>
                  </div>
               </div>
            </div>
         </header>
         <div class="hero-section hero-style-5 img-bg" style="background-image: url('assets/img/hero/hero-5/hero-bg.svg')">
            <div class="container">
               <div class="row">
                  <div class="col-lg-6">
                     <div class="hero-content-wrapper">
                        <h2 class="mb-30 wow fadeInUp" data-wow-delay=".2s">Design. Coding. Law.</h2>
                        <p class="mb-30 wow fadeInUp" data-wow-delay=".4s">A new way of building legal documents in a post-information world.</p>
                        <a href="#0" class="button button-lg radius-50 wow fadeInUp" data-wow-delay=".6s">Start Here <i class="lni lni-chevron-right"></i> </a>
                     </div>
                  </div>
                  <div class="col-lg-6 align-self-end">
                     <div class="hero-image wow fadeInUp" data-wow-delay=".5s">
                        <img src="assets/img/hero/hero-5/_banner1xl.png" alt="">
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </section>
      <!-- https://lineicons.com/icons/ -->
      <section id="feature" class="feature-section feature-style-5">
         <div class="container">
            <div class="row justify-content-center">
               <div class="col-xxl-5 col-xl-5 col-lg-7 col-md-8">
                  <div class="section-title text-center mb-60">
                     <h3 class="mb-15 wow fadeInUp" data-wow-delay=".2s">What is this?</h3>
                     <p class="wow fadeInUp" data-wow-delay=".4s">A new way to do legal research, create documents, and build a better world.</p>
                  </div>
               </div>
            </div>
            <div class="row">
               <div class="col-lg-4 col-md-6">
                  <div class="single-feature wow fadeInUp" data-wow-delay=".2s">
                     <div class="icon">
                        <i class="lni lni-vector"></i>
                        <svg width="110" height="72" viewBox="0 0 110 72" fill="none" xmlns="http://www.w3.org/2000/svg">
                           <path d="M110 54.7589C110 85.0014 85.3757 66.2583 55 66.2583C24.6243 66.2583 0 85.0014 0 54.7589C0 24.5164 24.6243 0 55 0C85.3757 0 110 24.5164 110 54.7589Z" fill="#EBF4FF" />
                        </svg>
                     </div>
                     <div class="content">
                        <h5>Coding</h5>
                        <p>Seamlessly blend coding with legal writing.</p>
                     </div>
                  </div>
               </div>
               <div class="col-lg-4 col-md-6">
                  <div class="single-feature wow fadeInUp" data-wow-delay=".2s">
                     <div class="icon">
                        <i class="lni lni-code-alt"></i>
                        <svg width="110" height="72" viewBox="0 0 110 72" fill="none" xmlns="http://www.w3.org/2000/svg">
                           <path d="M110 54.7589C110 85.0014 85.3757 66.2583 55 66.2583C24.6243 66.2583 0 85.0014 0 54.7589C0 24.5164 24.6243 0 55 0C85.3757 0 110 24.5164 110 54.7589Z" fill="#EBF4FF" />
                        </svg>
                     </div>
                     <div class="content">
                        <h5>ScrapHand</h5>
                        <p>Try a different way to write and markup your legal writing here.</p>
                     </div>
                  </div>
               </div>
               <div class="col-lg-4 col-md-6">
                  <div class="single-feature wow fadeInUp" data-wow-delay=".4s">
                     <div class="icon">
                        <i class="lni lni-handshake"></i>
                        <svg width="110" height="72" viewBox="0 0 110 72" fill="none" xmlns="http://www.w3.org/2000/svg">
                           <path d="M110 54.7589C110 85.0014 85.3757 66.2583 55 66.2583C24.6243 66.2583 0 85.0014 0 54.7589C0 24.5164 24.6243 0 55 0C85.3757 0 110 24.5164 110 54.7589Z" fill="#EBF4FF" />
                        </svg>
                     </div>
                     <div class="content">
                        <h5>Collaborate</h5>
                        <p>Share your work with friends, colleagues, and the world.</p>
                     </div>
                  </div>
               </div>
               <div class="col-lg-4 col-md-6">
                  <div class="single-feature wow fadeInUp" data-wow-delay=".6s">
                     <div class="icon">
                        <i class="lni lni-stats-up"></i>
                        <svg width="110" height="72" viewBox="0 0 110 72" fill="none" xmlns="http://www.w3.org/2000/svg">
                           <path d="M110 54.7589C110 85.0014 85.3757 66.2583 55 66.2583C24.6243 66.2583 0 85.0014 0 54.7589C0 24.5164 24.6243 0 55 0C85.3757 0 110 24.5164 110 54.7589Z" fill="#EBF4FF" />
                        </svg>
                     </div>
                     <div class="content">
                        <h5>Analytics</h5>
                        <p>Measure your work and leverage the power of machine learning to do better.</p>
                     </div>
                  </div>
               </div>
               <div class="col-lg-4 col-md-6">
                  <div class="single-feature wow fadeInUp" data-wow-delay=".4s">
                     <div class="icon">
                        <i class="lni lni-lock"></i>
                        <svg width="110" height="72" viewBox="0 0 110 72" fill="none" xmlns="http://www.w3.org/2000/svg">
                           <path d="M110 54.7589C110 85.0014 85.3757 66.2583 55 66.2583C24.6243 66.2583 0 85.0014 0 54.7589C0 24.5164 24.6243 0 55 0C85.3757 0 110 24.5164 110 54.7589Z" fill="#EBF4FF" />
                        </svg>
                     </div>
                     <div class="content">
                        <h5>Secured Servers</h5>
                        <p>Store documents securely and share when you want to.</p>
                     </div>
                  </div>
               </div>
               <div class="col-lg-4 col-md-6">
                  <div class="single-feature wow fadeInUp" data-wow-delay=".6s">
                     <div class="icon">
                        <i class="lni lni-code"></i>
                        <svg width="110" height="72" viewBox="0 0 110 72" fill="none" xmlns="http://www.w3.org/2000/svg">
                           <path d="M110 54.7589C110 85.0014 85.3757 66.2583 55 66.2583C24.6243 66.2583 0 85.0014 0 54.7589C0 24.5164 24.6243 0 55 0C85.3757 0 110 24.5164 110 54.7589Z" fill="#EBF4FF" />
                        </svg>
                     </div>
                     <div class="content">
                        <h5>Markup Content</h5>
                        <p>Take your thoughts and put more onto the page than just words.</p>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </section>
      <section id="about" class="about-section about-style-4">
         <div class="container">
            <div class="row align-items-center">
               <div class="col-xl-5 col-lg-6">
                  <div class="about-content-wrapper">
                     <div class="section-title mb-30">
                        <h3 class="mb-25 wow fadeInUp" data-wow-delay=".2s">The future of legal research and writing</h3>
                        <p class="wow fadeInUp" data-wow-delay=".3s">Try an new way to build documents.</p>
                     </div>
                     <ul>
                        <li class="wow fadeInUp" data-wow-delay=".35s">
                           <i class="lni lni-checkmark-circle"></i>
                           Simple integration of markup and text.
                        </li>
                        <li class="wow fadeInUp" data-wow-delay=".4s">
                           <i class="lni lni-checkmark-circle"></i>
                           Full access to scripting.
                        </li>
                        <li class="wow fadeInUp" data-wow-delay=".45s">
                           <i class="lni lni-checkmark-circle"></i>
                           Runs in the browser.
                        </li>
                     </ul>
                     <a href="#0" class="button button-lg radius-10 wow fadeInUp" data-wow-delay=".5s">Click Here to Start</a>
                  </div>
               </div>
               <div class="col-xl-7 col-lg-6">
                  <div class="about-image text-lg-right wow fadeInUp" data-wow-delay=".5s">
                     <img src="assets/img/about/about-4/about-img.svg" alt="">
                  </div>
               </div>
            </div>
         </div>
      </section>
      <section id="templates" class="gallery-section gallery-style-4 bg-white">
         <div class="container">
            <div class="row justify-content-center">
               <div class="col-xxl-5 col-xl-5 col-lg-7 col-md-10">
                  <div class="section-title text-center mb-60">
                     <h3 class="mb-15 wow fadeInUp" data-wow-delay=".2s">Templates and Resources</h3>
                     <p class="wow fadeInUp" data-wow-delay=".4s">Explore existing work.  Copy and reuse.  Learn how to build.</p>
                  </div>
               </div>
            </div>
            <div class="row">
               <div class="col-lg-4 col-md-6">
                  <div class="single-gallery wow fadeInUp" data-wow-delay=".2s">
                     <div class="image">
                        <img src="assets/img/gallery/gallery-4/gallery-1.jpg" alt="">
                        <div class="overlay">
                           <div class="action">
                              <a href="#0"> <i class="lni lni-link"></i> </a>
                           </div>
                        </div>
                     </div>
                     <div class="info">
                        <h5>Hello World!</h5>
                        <p>Click here for the simplest of projects.</p>
                     </div>
                  </div>
               </div>
               <div class="col-lg-4 col-md-6">
                  <div class="single-gallery wow fadeInUp" data-wow-delay=".4s">
                     <div class="image">
                        <img src="assets/img/gallery/gallery-4/gallery-2.jpg" alt="">
                        <div class="overlay">
                           <div class="action">
                              <a href="#0"> <i class="lni lni-link"></i> </a>
                           </div>
                        </div>
                     </div>
                     <div class="info">
                        <h5>IRAC/IPAC student piece</h5>
                        <p>A sample piece that demonstrates a document using the Issue-Rule/Principle-Application-Conclusion method for creating structured legal advice.</p>
                     </div>
                  </div>
               </div>
               <div class="col-lg-4 col-md-6">
                  <div class="single-gallery wow fadeInUp" data-wow-delay=".6s">
                     <div class="image">
                        <img src="assets/img/gallery/gallery-4/gallery-3.jpg" alt="">
                        <div class="overlay">
                           <div class="action">
                              <a href="#0"> <i class="lni lni-link"></i> </a>
                           </div>
                        </div>
                     </div>
                     <div class="info">
                        <h5>Short Research Piece</h5>
                        <p>An example of a small legal research document.</p>
                     </div>
                  </div>
               </div>
               <div class="col-lg-4 col-md-6">
                  <div class="single-gallery wow fadeInUp" data-wow-delay=".2s">
                     <div class="image">
                        <img src="assets/img/gallery/gallery-4/gallery-4.jpg" alt="">
                        <div class="overlay">
                           <div class="action">
                              <a href="#0"> <i class="lni lni-link"></i> </a>
                           </div>
                        </div>
                     </div>
                     <div class="info">
                        <h5>Affidavit</h5>
                        <p>A project that creates a simple affidavit from data.</p>
                     </div>
                  </div>
               </div>
               <div class="col-lg-4 col-md-6">
                  <div class="single-gallery wow fadeInUp" data-wow-delay=".4s">
                     <div class="image">
                        <img src="assets/img/gallery/gallery-4/gallery-5.jpg" alt="">
                        <div class="overlay">
                           <div class="action">
                              <a href="#0"> <i class="lni lni-link"></i> </a>
                           </div>
                        </div>
                     </div>
                     <div class="info">
                        <h5>Rule Generator</h5>
                        <p>A neat project that uses machine learning to draft explanations of legal rules.</p>
                     </div>
                  </div>
               </div>
               <div class="col-lg-4 col-md-6">
                  <div class="single-gallery wow fadeInUp" data-wow-delay=".6s">
                     <div class="image">
                        <img src="assets/img/gallery/gallery-4/gallery-6.jpg" alt="">
                        <div class="overlay">
                           <div class="action">
                              <a href="#0"> <i class="lni lni-link"></i> </a>
                           </div>
                        </div>
                     </div>
                     <div class="info">
                        <h5>QCAT Application</h5>
                        <p>Learn how to create a real-world application in code.</p>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </section>
      <section id="pricing" class="pricing-section pricing-style-4 bg-light">
         <div class="container">
            <div class="row align-items-center">
               <div class="col-xl-5 col-lg-6">
                  <div class="section-title mb-60">
                     <h3 class="mb-15 wow fadeInUp" data-wow-delay=".2s">Pricing Plan</h3>
                     <p class="wow fadeInUp" data-wow-delay=".4s">Get started now for free</p>
                  </div>
               </div>
               <div class="col-xl-7 col-lg-6">
                  <div class="pricing-active-wrapper wow fadeInUp" data-wow-delay=".4s">
                     <div class="pricing-active">
                        <div class="single-pricing-wrapper">
                           <div class="single-pricing">
                              <h6>Creators and students</h6>
                              <h4>Individual</h4>
                              <h3>Free</h3>
                              <ul>
                                 <li>Limited API access</li>
                                 <li>Samples and tutorials</li>
                                 <li>Email support</li>
                              </ul>
                              <a href="#0" class="button radius-30">Get Started</a>
                           </div>
                        </div>
                        <div class="single-pricing-wrapper">
                           <div class="single-pricing">
                              <h6>Small entities</h6>
                              <h4>Team</h4>
                              <h3>AUD500pa</h3>
                              <ul>
                                 <li>API access</li>
                                 <li>Samples and tutorials</li>
                                 <li>Online support</li>
                              </ul>
                              <a href="#0" class="button radius-30">Get Started</a>
                           </div>
                        </div>
                        <div class="single-pricing-wrapper">
                           <div class="single-pricing">
                              <h6>Large entities</h6>
                              <h4>Institution</h4>
                              <h3>AUD10000pa</h3>
                              <ul>
                                 <li>API access</li>
                                 <li>Samples and tutorials</li>
                                 <li>Online and phone support</li>
                              </ul>
                              <a href="#0" class="button radius-30">Get Started</a>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </section>
      <section id="team" class="team-section team-style-4">
         <div class="container">
            <div class="row justify-content-center">
               <div class="col-xxl-5 col-xl-5 col-lg-7 col-md-10">
                  <div class="section-title text-center mb-60">
                     <h3 class="mb-15 wow fadeInUp" data-wow-delay=".2s">Our Team</h3>
                     <p class="wow fadeInUp" data-wow-delay=".4s">Trying to build a better world one snippet at a time.</p>
                  </div>
               </div>
            </div>
            <div class="row justify-content-center">
               <div class="col-xl-3 col-md-6 col-sm-10">
                  <div class="single-team wow fadeInUp" data-wow-delay=".2s">
                     <div class="image">
                        <img src="assets/img/team/team-4/team-1.jpg" alt="">
                        <div class="overlay">
                           <ul class="socials">
                              <li>
                                 <a href="#0"> <i class="lni lni-facebook-filled"></i> </a>
                              </li>
                              <li>
                                 <a href="#0"> <i class="lni lni-twitter-filled"></i> </a>
                              </li>
                              <li>
                                 <a href="#0"> <i class="lni lni-instagram-filled"></i> </a>
                              </li>
                              <li>
                                 <a href="#0"> <i class="lni lni-linkedin-original"></i> </a>
                              </li>
                           </ul>
                        </div>
                     </div>
                     <div class="info">
                        <h6>Simon Walker</h6>
                        <p>Founder and CEO</p>
                     </div>
                  </div>
               </div>
               <!-- <div class="col-xl-3 col-md-6 col-sm-10">
                  <div class="single-team wow fadeInUp" data-wow-delay=".4s">
                  <div class="image">
                  <img src="assets/img/team/team-4/team-2.jpg" alt="">
                  <div class="overlay">
                  <ul class="socials">
                  <li>
                  <a href="#0"> <i class="lni lni-facebook-filled"></i> </a>
                  </li>
                  <li>
                  <a href="#0"> <i class="lni lni-twitter-filled"></i> </a>
                  </li>
                  <li>
                  <a href="#0"> <i class="lni lni-instagram-filled"></i> </a>
                  </li>
                  <li>
                  <a href="#0"> <i class="lni lni-linkedin-original"></i> </a>
                  </li>
                  </ul>
                  </div>
                  </div>
                  <div class="info">
                  <h6>Peter Walker</h6>
                  <p>Consultant</p>
                  </div>
                  </div>
                  </div> -->
               <div class="col-xl-3 col-md-6 col-sm-10">
                  <div class="single-team wow fadeInUp" data-wow-delay=".6s">
                     <div class="image">
                        <img src="assets/img/team/team-4/team-3.jpg" alt="">
                        <div class="overlay">
                           <ul class="socials">
                              <li>
                                 <a href="#0"> <i class="lni lni-facebook-filled"></i> </a>
                              </li>
                              <li>
                                 <a href="#0"> <i class="lni lni-twitter-filled"></i> </a>
                              </li>
                              <li>
                                 <a href="#0"> <i class="lni lni-instagram-filled"></i> </a>
                              </li>
                              <li>
                                 <a href="#0"> <i class="lni lni-linkedin-original"></i> </a>
                              </li>
                           </ul>
                        </div>
                     </div>
                     <div class="info">
                        <h6>Leilani Wolstenholme</h6>
                        <p>Consultant</p>
                     </div>
                  </div>
               </div>
               <div class="col-xl-3 col-md-6 col-sm-10">
                  <div class="single-team wow fadeInUp" data-wow-delay=".8s">
                     <div class="image">
                        <img src="assets/img/team/team-4/team-4.jpg" alt="">
                        <div class="overlay">
                           <ul class="socials">
                              <li>
                                 <a href="#0"> <i class="lni lni-facebook-filled"></i> </a>
                              </li>
                              <li>
                                 <a href="#0"> <i class="lni lni-twitter-filled"></i> </a>
                              </li>
                              <li>
                                 <a href="#0"> <i class="lni lni-instagram-filled"></i> </a>
                              </li>
                              <li>
                                 <a href="#0"> <i class="lni lni-linkedin-original"></i> </a>
                              </li>
                           </ul>
                        </div>
                     </div>
                     <div class="info">
                        <h6>Toniey Munro</h6>
                        <p>Consultant</p>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </section>
      <section id="contact" class="contact-section contact-style-3">
         <div class="container">
            <div class="row justify-content-center">
               <div class="col-xxl-5 col-xl-5 col-lg-7 col-md-10">
                  <div class="section-title text-center mb-50">
                     <h3 class="mb-15">Get in touch</h3>
                     <p>Find out more about how to combine legal writing and software development.</p>
                  </div>
               </div>
            </div>
            <div class="row">
               <div class="col-lg-8">
                  <div class="contact-form-wrapper">
                     <form action="assets/php/contact.php" method="POST">
                        <div class="row">
                           <div class="col-md-6">
                              <div class="single-input">
                                 <input type="text" id="name" name="name" class="form-input" placeholder="Name">
                                 <i class="lni lni-user"></i>
                              </div>
                           </div>
                           <div class="col-md-6">
                              <div class="single-input">
                                 <input type="email" id="email" name="email" class="form-input" placeholder="Email">
                                 <i class="lni lni-envelope"></i>
                              </div>
                           </div>
                           <div class="col-md-6">
                              <div class="single-input">
                                 <input type="text" id="number" name="number" class="form-input" placeholder="Number">
                                 <i class="lni lni-phone"></i>
                              </div>
                           </div>
                           <div class="col-md-6">
                              <div class="single-input">
                                 <input type="text" id="subject" name="subject" class="form-input" placeholder="Subject">
                                 <i class="lni lni-text-format"></i>
                              </div>
                           </div>
                           <div class="col-md-12">
                              <div class="single-input">
                                 <textarea name="message" id="message" class="form-input" placeholder="Message" rows="6"></textarea>
                                 <i class="lni lni-comments-alt"></i>
                              </div>
                           </div>
                           <div class="col-md-12">
                              <div class="form-button">
                                 <button type="submit" class="button"> <i class="lni lni-telegram-original"></i> Submit</button>
                              </div>
                           </div>
                        </div>
                     </form>
                  </div>
               </div>
               <div class="col-lg-4">
                  <div class="left-wrapper">
                     <div class="row">
                        <div class="col-lg-12 col-md-6">
                           <div class="single-item">
                              <div class="icon">
                                 <i class="lni lni-phone"></i>
                              </div>
                              <div class="text">
                                 <p>+61488680050</p>
                              </div>
                           </div>
                        </div>
                        <div class="col-lg-12 col-md-6">
                           <div class="single-item">
                              <div class="icon">
                                 <i class="lni lni-envelope"></i>
                              </div>
                              <!-- <div class="text">
                                 <p><a href="/cdn-cgi/l/email-protection" class="__cf_email__" data-cfemail="bbc2d4cec9d6dad2d7fbdcd6dad2d795d8d4d6">[email&#160;protected]</a></p>
                                 <p><a href="/cdn-cgi/l/email-protection" class="__cf_email__" data-cfemail="ea8b8e878384aa93859f989d8f8899839e8fc4898587">[email&#160;protected]</a></p>
                                 </div> -->
                              <div class="text">
                                 <p>info@seamlex.net</p>
                              </div>
                           </div>
                        </div>
                        <div class="col-lg-12 col-md-6">
                           <div class="single-item">
                              <div class="icon">
                                 <i class="lni lni-map-marker"></i>
                              </div>
                              <div class="text">
                                 <p>20 La Trobe Close<br>DOUGLAS QLD 4814<br>Townsville, Australia</p>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </section>
      <section class="clients-logo-section pt-100 pb-100">
         <div class="container">
            <div class="row">
               <div class="col-lg-12">
                  <div class="client-logo wow fadeInUp" data-wow-delay=".2s">
                     <img src="assets/img/clients/seamlex-brands.svg" alt="" class="w-100">
                  </div>
               </div>
            </div>
         </div>
      </section>
      <div class="container">
         <main role="main" class="pb-3">
            @RenderBody()
         </main>
      </div>
      <footer class="footer footer-style-4">
         <div class="container">
            <div class="widget-wrapper">
               <div class="row">
                  <div class="col-xl-3 col-lg-4 col-md-6">
                     <div class="footer-widget wow fadeInUp" data-wow-delay=".3s">
                        <h6>Contact us on social:</h6>
                        <ul class="socials">
                           <li> <a href="https://www.facebook.com/Seamlex-Dot-Net-110287521514474"> <i class="lni lni-facebook-filled"></i> </a> </li>
                           <li> <a href="https://twitter.com/seamlex_dot_net"> <i class="lni lni-twitter-filled"></i> </a> </li>
                           <li> <a href="https://www.instagram.com/seamlexdotnet/"> <i class="lni lni-instagram-filled"></i> </a> </li>
                           <li> <a href="https://www.linkedin.com/company/seamlex"> <i class="lni lni-linkedin-filled"></i> </a> </li>
                        </ul>
                     </div>
                  </div>
                  <div class="col-xl-3 col-lg-4 col-md-6">
                     <div class="footer-widget wow fadeInUp" data-wow-delay=".2s">
                        <img src="assets/img/logo/seamlex-logo.gif" sizes="" alt="">
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <div class="container">
            &copy; 2022 - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
         </div>
         <div class="copyright-wrapper wow fadeInUp" data-wow-delay=".2s">
            <p>Copyright <a href="https://seamlex.net" rel="nofollow" target="_blank">seamlex.net</a> Built-with <a href="https://dotnet.microsoft.com/en-us/" rel="nofollow" target="_blank">Microsoft .NET Core and lots of love.</a></p>
         </div>
      </footer>
      <a href="#" class="scroll-top"> <i class="lni lni-chevron-up"></i> </a>
      <script src="assets/js/contact-form.js"></script>
      <script src="assets/js/tiny-slider.js"></script>
      <script src="assets/js/wow.min.js"></script>
      <script src="assets/js/main.js"></script>
      @await RenderSectionAsync("Scripts", required: false)
   </body>
</html>